$width-site: 1140px;
$color-main: #0a1111;
$color-hover: #ffffff;
$color-text: #CDAA7D;
$color-border: #ffffff;


$color-second: #675422;

$border-width: 1px;
$button-height: 60px;
$font-main: "Cormorant Garamond";