$width-site: 1320px;
$color-main: #0a1111;
$color-hover: #ffffff;
$color-text: #CDAA7D;
$color-border: #ffffff;
$color-table: rgba(10, 17, 17, 0.78);


$color-second: #675422;

$border-width: 1px;
$button-height: 60px;
$font-main: "Cormorant Garamond";